<h4>Nginx - Reverse Proxy & SSL Configuration</h4>
<p>
    This Nginx configuration is set up to serve a web application securely.<br>
    It redirects all HTTP traffic to HTTPS, handles SSL termination using Let's Encrypt certificates,<br>
    and reverse proxies requests to a backend application container named 'app' running on port 5000.
</p>
<pre><code class="language-nginx">
server {
    listen 80;
    server_name liormilliger.com;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name liormilliger.com;

    ssl_certificate /etc/letsencrypt/live/liormilliger.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/liormilliger.com/privkey.pem;
    
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    location / {
        proxy_pass http://app:5000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
</code></pre>
