<h3>Terraform (modules)</h3>

<div class="snippet-intro">
    <p>
        Terraform is my favorite tool for building, changing, and versioning infrastructure safely and efficiently. <br>
        I can write simple, human-readable code to define my (AWS) resources, and Terraform manages the entire lifecycle for me.
        <br><br>
        I am using 3 modules for terraform - vpc, eks and argocd. <br>
        This modular structure allows me to manage each on its own and makes it easier to manage, add and troubleshoot.
        <br><br>
        For a better view of the whole files and structure visit the following link: <a href="https://github.com/liormilliger/mywebsite-iac.git" style="color: inherit;"><b>https://github.com/liormilliger/mywebsite-iac.git</b></a>
    </p>
</div>

<div class="code-accordion">

    <div class="accordion-item">
        <button class="accordion-header" id="vpc-header" data-output-id="vpc-output" data-simulated="false">
            <div class="header-text-wrapper">
                <span class="header-title">Module: VPC Resources (8)</span>
                <span class="header-description">Click to run 'terraform apply' simulation</span>
            </div>
            <span class="accordion-icon">+</span>
        </button>
        <div class="accordion-content">
            <pre id="vpc-output"></pre>
        </div>
    </div>

    <div class="accordion-item">
        <button class="accordion-header" id="eks-header" data-output-id="eks-output" data-simulated="false">
            <div class="header-text-wrapper">
                <span class="header-title">Module: EKS Resources (15)</span>
                <span class="header-description">Click to run 'terraform apply' simulation</span>
            </div>
            <span class="accordion-icon">+</span>
        </button>
        <div class="accordion-content">
            <pre id="eks-output"></pre>
        </div>
    </div>

    <div class="accordion-item">
        <button class="accordion-header" id="argocd-header" data-output-id="argocd-output" data-simulated="false">
            <div class="header-text-wrapper">
                <span class="header-title">Module: ArgoCD Resources (5)</span>
                <span class="header-description">Click to run 'terraform apply' simulation</span>
            </div>
            <span class="accordion-icon">+</span>
        </button>
        <div class="accordion-content">
            <pre id="argocd-output"></pre>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='js/simulation-tf.js') }}"></script>