<style>
    .ansi-bold { font-weight: bold; }
    .ansi-green { color: #2E8B57; } /* A standard terminal green */
    .ansi-cyan { color: #00BFFF; }   /* A standard terminal cyan */
</style>

<h3>Terraform Plan Output</h3>
<pre><code>Terraform used the selected providers to generate the following execution
plan. Resource actions are indicated with the following symbols:
  <span class="ansi-green">+</span> create
  <span class="ansi-cyan">&lt;=</span> read (data resources)

Terraform planned the following actions, but then encountered a problem:

<span class="ansi-bold">  # null_resource.update_kubeconfig</span> will be created
  <span class="ansi-green">+</span> resource "null_resource" "update_kubeconfig" {
      <span class="ansi-green">+</span> id = (known after apply)
    }

<span class="ansi-bold">  # module.argocd.data.aws_secretsmanager_secret_version.mywebsite-token</span> will be read during apply
  # (depends on a resource or a module with changes pending)
 <span class="ansi-cyan">&lt;=</span> data "aws_secretsmanager_secret_version" "mywebsite-token" {
      <span class="ansi-cyan">+</span> arn           = (known after apply)
      <span class="ansi-cyan">+</span> created_date    = (known after apply)
      <span class="ansi-cyan">+</span> id            = (known after apply)
      <span class="ansi-cyan">+</span> secret_binary   = (sensitive value)
      <span class="ansi-cyan">+</span> secret_id       = "mywebsite-token"
      <span class="ansi-cyan">+</span> secret_string   = (sensitive value)
      <span class="ansi-cyan">+</span> version_id      = (known after apply)
      <span class="ansi-cyan">+</span> version_stages  = (known after apply)
    }

<span class="ansi-bold">  # module.argocd.helm_release.argocd</span> will be created
  <span class="ansi-green">+</span> resource "helm_release" "argocd" {
      <span class="ansi-green">+</span> atomic                   = false
      <span class="ansi-green">+</span> chart                    = "argo-cd"
      <span class="ansi-green">+</span> cleanup_on_fail          = false
      <span class="ansi-green">+</span> create_namespace         = false
      <span class="ansi-green">+</span> dependency_update        = false
      <span class="ansi-green">+</span> disable_crd_hooks        = false
      <span class="ansi-green">+</span> disable_openapi_validation = false
      <span class="ansi-green">+</span> disable_webhooks         = false
      <span class="ansi-green">+</span> force_update             = false
      <span class="ansi-green">+</span> id                     = (known after apply)
      <span class="ansi-green">+</span> lint                     = false
      <span class="ansi-green">+</span> max_history              = 0
      <span class="ansi-green">+</span> metadata                 = (known after apply)
      <span class="ansi-green">+</span> name                     = "argocd"
      <span class="ansi-green">+</span> namespace                = "argocd"
      <span class="ansi-green">+</span> pass_credentials         = false
      <span class="ansi-green">+</span> recreate_pods            = false
      <span class="ansi-green">+</span> render_subchart_notes    = true
      <span class="ansi-green">+</span> replace                  = false
      <span class="ansi-green">+</span> repository               = "https://argoproj.github.io/argo-helm"
      <span class="ansi-green">+</span> reset_values             = false
      <span class="ansi-green">+</span> reuse_values             = false
      <span class="ansi-green">+</span> skip_crds                = false
      <span class="ansi-green">+</span> status                   = "deployed"
      <span class="ansi-green">+</span> timeout                  = 300
      <span class="ansi-green">+</span> verify                   = false
      <span class="ansi-green">+</span> version                  = "5.51.2"
      <span class="ansi-green">+</span> wait                     = true
      <span class="ansi-green">+</span> wait_for_jobs            = false
    }

<span class="ansi-bold">  # module.argocd.kubernetes_namespace.argocd</span> will be created
  <span class="ansi-green">+</span> resource "kubernetes_namespace" "argocd" {
      <span class="ansi-green">+</span> id                               = (known after apply)
      <span class="ansi-green">+</span> wait_for_default_service_account = false

      <span class="ansi-green">+</span> metadata {
          <span class="ansi-green">+</span> generation       = (known after apply)
          <span class="ansi-green">+</span> name             = "argocd"
          <span class="ansi-green">+</span> resource_version = (known after apply)
          <span class="ansi-green">+</span> uid              = (known after apply)
        }
    }

<span class="ansi-bold">  # module.argocd.kubernetes_secret.config_repo_ssh</span> will be created
  <span class="ansi-green">+</span> resource "kubernetes_secret" "config_repo_ssh" {
      <span class="ansi-green">+</span> data                             = (sensitive value)
      <span class="ansi-green">+</span> id                               = (known after apply)
      <span class="ansi-green">+</span> type                             = "Opaque"
      <span class="ansi-green">+</span> wait_for_service_account_token = true

      <span class="ansi-green">+</span> metadata {
          <span class="ansi-green">+</span> generation       = (known after apply)
          <span class="ansi-green">+</span> labels           = {
              <span class="ansi-green">+</span> "argocd.argoproj.io/secret-type" = "repository"
            }
          <span class="ansi-green">+</span> name             = "mywebsite-token"
          <span class="ansi-green">+</span> namespace        = "argocd"
          <span class="ansi-green">+</span> resource_version = (known after apply)
          <span class="ansi-green">+</span> uid              = (known after apply)
        }
    }

<span class="ansi-bold">  # module.argocd.time_sleep.wait_for_crd_registration</span> will be created
  <span class="ansi-green">+</span> resource "time_sleep" "wait_for_crd_registration" {
      <span class="ansi-green">+</span> create_duration = "30s"
      <span class="ansi-green">+</span> id              = (known after apply)
    }

<span class="ansi-bold">  # module.eks.data.aws_vpc.cluster_vpc</span> will be read during apply
  # (config refers to values not yet known)
 <span class="ansi-cyan">&lt;=</span> data "aws_vpc" "cluster_vpc" {
      <span class="ansi-cyan">+</span> arn                                  = (known after apply)
      <span class="ansi-cyan">+</span> cidr_block                             = (known after apply)
      <span class="ansi-cyan">+</span> cidr_block_associations              = (known after apply)
      <span class="ansi-cyan">+</span> default                                = (known after apply)
      <span class="ansi-cyan">+</span> dhcp_options_id                        = (known after apply)
      <span class="ansi-cyan">+</span> enable_dns_hostnames                   = (known after apply)
      <span class="ansi-cyan">+</span> enable_dns_support                     = (known after apply)
      <span class="ansi-cyan">+</span> enable_network_address_usage_metrics = (known after apply)
      <span class="ansi-cyan">+</span> id                                   = (known after apply)
      <span class="ansi-cyan">+</span> instance_tenancy                       = (known after apply)
      <span class="ansi-cyan">+</span> ipv6_association_id                    = (known after apply)
      <span class="ansi-cyan">+</span> ipv6_cidr_block                        = (known after apply)
      <span class="ansi-cyan">+</span> main_route_table_id                    = (known after apply)
      <span class="ansi-cyan">+</span> owner_id                               = (known after apply)
      <span class="ansi-cyan">+</span> state                                  = (known after apply)
      <span class="ansi-cyan">+</span> tags                                   = (known after apply)
    }

<span class="ansi-bold">  # module.eks.data.tls_certificate.eks_cluster_cert</span> will be read during apply
  # (config refers to values not yet known)
 <span class="ansi-cyan">&lt;=</span> data "tls_certificate" "eks_cluster_cert" {
      <span class="ansi-cyan">+</span> certificates = (known after apply)
      <span class="ansi-cyan">+</span> id           = (known after apply)
      <span class="ansi-cyan">+</span> url          = (known after apply)
    }

<span class="ansi-bold">  # module.eks.aws_eks_cluster.eks-cluster</span> will be created
  <span class="ansi-green">+</span> resource "aws_eks_cluster" "eks-cluster" {
      <span class="ansi-green">+</span> arn                       = (known after apply)
      <span class="ansi-green">+</span> bootstrap_self_managed_addons = true
      <span class="ansi-green">+</span> certificate_authority     = (known after apply)
      <span class="ansi-green">+</span> cluster_id                = (known after apply)
      <span class="ansi-green">+</span> created_at                = (known after apply)
      <span class="ansi-green">+</span> endpoint                  = (known after apply)
      <span class="ansi-green">+</span> id                        = (known after apply)
      <span class="ansi-green">+</span> identity                  = (known after apply)
      <span class="ansi-green">+</span> name                      = "&lt;PROJECT_NAME&gt;-webapp-cluster"
      <span class="ansi-green">+</span> platform_version          = (known after apply)
      <span class="ansi-green">+</span> role_arn                  = (known after apply)
      <span class="ansi-green">+</span> status                    = (known after apply)
      <span class="ansi-green">+</span> tags                      = {
          <span class="ansi-green">+</span> "provisioned_by" = "Terraform"
        }
      <span class="ansi-green">+</span> tags_all                  = {
          <span class="ansi-green">+</span> "provisioned_by" = "Terraform"
        }
      <span class="ansi-green">+</span> version                   = "1.33"

      <span class="ansi-green">+</span> vpc_config {
          <span class="ansi-green">+</span> cluster_security_group_id = (known after apply)
          <span class="ansi-green">+</span> endpoint_private_access   = false
          <span class="ansi-green">+</span> endpoint_public_access    = true
          <span class="ansi-green">+</span> public_access_cidrs       = (known after apply)
          <span class="ansi-green">+</span> subnet_ids                = (known after apply)
          <span class="ansi-green">+</span> vpc_id                    = (known after apply)
        }
    }

<span class="ansi-bold">  # module.eks.aws_eks_node_group.node-group</span> will be created
  <span class="ansi-green">+</span> resource "aws_eks_node_group" "node-group" {
      <span class="ansi-green">+</span> ami_type          = (known after apply)
      <span class="ansi-green">+</span> arn               = (known after apply)
      <span class="ansi-green">+</span> capacity_type     = "ON_DEMAND"
      <span class="ansi-green">+</span> cluster_name      = "&lt;PROJECT_NAME&gt;-webapp-cluster"
      <span class="ansi-green">+</span> disk_size         = (known after apply)
      <span class="ansi-green">+</span> id                = (known after apply)
      <span class="ansi-green">+</span> instance_types    = [
          <span class="ansi-green">+</span> "t3.medium",
          <span class="ansi-green">+</span> "t3a.medium",
        ]
      <span class="ansi-green">+</span> labels            = {
          <span class="ansi-green">+</span> "nodeName" = "&lt;PROJECT_NAME&gt;-webapp"
          <span class="ansi-green">+</span> "role"     = "general"
        }
      <span class="ansi-green">+</span> node_group_name   = "&lt;PROJECT_NAME&gt;-node-group"
      <span class="ansi-green">+</span> node_group_name_prefix = (known after apply)
      <span class="ansi-green">+</span> node_role_arn     = (known after apply)
      <span class="ansi-green">+</span> release_version   = (known after apply)
      <span class="ansi-green">+</span> resources         = (known after apply)
      <span class="ansi-green">+</span> status            = (known after apply)
      <span class="ansi-green">+</span> subnet_ids        = (known after apply)
      <span class="ansi-green">+</span> tags              = {
          <span class="ansi-green">+</span> "kubernetes.io/cluster/&lt;PROJECT_NAME&gt;-webapp-cluster" = "shared"
          <span class="ansi-green">+</span> "provisioned_by"                             = "Terraform"
        }
      <span class="ansi-green">+</span> tags_all          = {
          <span class="ansi-green">+</span> "kubernetes.io/cluster/&lt;PROJECT_NAME&gt;-webapp-cluster" = "shared"
          <span class="ansi-green">+</span> "provisioned_by"                             = "Terraform"
        }
      <span class="ansi-green">+</span> version           = "1.33"

      <span class="ansi-green">+</span> launch_template {
          <span class="ansi-green">+</span> id      = (known after apply)
          <span class="ansi-green">+</span> name    = "&lt;PROJECT_NAME&gt;-webapp"
          <span class="ansi-green">+</span> version = (known after apply)
        }

      <span class="ansi-green">+</span> scaling_config {
          <span class="ansi-green">+</span> desired_size = 2
          <span class="ansi-green">+</span> max_size     = 3
          <span class="ansi-green">+</span> min_size     = 0
        }

      <span class="ansi-green">+</span> update_config {
          <span class="ansi-green">+</span> max_unavailable = 1
        }
    }

<span class="ansi-bold">  # module.eks.aws_iam_openid_connect_provider.eks_oidc_provider</span> will be created
  <span class="ansi-green">+</span> resource "aws_iam_openid_connect_provider" "eks_oidc_provider" {
      <span class="ansi-green">+</span> arn            = (known after apply)
      <span class="ansi-green">+</span> client_id_list = [
          <span class="ansi-green">+</span> "sts.amazonaws.com",
        ]
      <span class="ansi-green">+</span> id             = (known after apply)
      <span class="ansi-green">+</span> tags           = (known after apply)
      <span class="ansi-green">+</span> tags_all       = (known after apply)
      <span class="ansi-green">+</span> thumbprint_list = (known after apply)
      <span class="ansi-green">+</span> url            = (known after apply)
    }

<span class="ansi-bold">  # module.eks.aws_iam_role.eks-cluster-iam-role</span> will be created
  <span class="ansi-green">+</span> resource "aws_iam_role" "eks-cluster-iam-role" {
      <span class="ansi-green">+</span> arn                   = (known after apply)
      <span class="ansi-green">+</span> assume_role_policy    = jsonencode(
            {
              <span class="ansi-green">+</span> Statement = [
                  <span class="ansi-green">+</span> {
                      <span class="ansi-green">+</span> Action    = "sts:AssumeRole"
                      <span class="ansi-green">+</span> Effect    = "Allow"
                      <span class="ansi-green">+</span> Principal = {
                          <span class="ansi-green">+</span> Service = "eks.amazonaws.com"
                        }
                    },
                ]
              <span class="ansi-green">+</span> Version   = "2012-10-17"
            }
        )
      <span class="ansi-green">+</span> create_date           = (known after apply)
      <span class="ansi-green">+</span> force_detach_policies = false
      <span class="ansi-green">+</span> id                    = (known after apply)
      <span class="ansi-green">+</span> managed_policy_arns   = (known after apply)
      <span class="ansi-green">+</span> max_session_duration  = 3600
      <span class="ansi-green">+</span> name                  = "&lt;PROJECT_NAME&gt;-webapp-cluster-iam-role"
      <span class="ansi-green">+</span> name_prefix           = (known after apply)
      <span class="ansi-green">+</span> path                  = "/"
      <span class="ansi-green">+</span> tags                  = {
          <span class="ansi-green">+</span> "provisioned_by" = "Terraform"
        }
      <span class="ansi-green">+</span> tags_all              = {
          <span class="ansi-green">+</span> "provisioned_by" = "Terraform"
        }
      <span class="ansi-green">+</span> unique_id             = (known after apply)
    }

<span class="ansi-bold">  # module.eks.aws_iam_role.liorm-node-group-role</span> will be created
  <span class="ansi-green">+</span> resource "aws_iam_role" "liorm-node-group-role" {
      <span class="ansi-green">+</span> arn                   = (known after apply)
      <span class="ansi-green">+</span> assume_role_policy    = jsonencode(
            {
              <span class="ansi-green">+</span> Statement = [
                  <span class="ansi-green">+</span> {
                      <span class="ansi-green">+</span> Action    = "sts:AssumeRole"
                      <span class="ansi-green">+</span> Effect    = "Allow"
                      <span class="ansi-green">+</span> Principal = {
                          <span class="ansi-green">+</span> Service = "ec2.amazonaws.com"
                        }
                    },
                ]
              <span class="ansi-green">+</span> Version   = "2012-10-17"
            }
        )
      <span class="ansi-green">+</span> create_date           = (known after apply)
      <span class="ansi-green">+</span> force_detach_policies = false
      <span class="ansi-green">+</span> id                    = (known after apply)
      <span class="ansi-green">+</span> managed_policy_arns   = (known after apply)
      <span class="ansi-green">+</span> max_session_duration  = 3600
      <span class="ansi-green">+</span> name                  = "&lt;PROJECT_NAME&gt;_node-group-role"
      <span class="ansi-green">+</span> name_prefix           = (known after apply)
      <span class="ansi-green">+</span> path                  = "/"
      <span class="ansi-green">+</span> tags_all              = (known after apply)
      <span class="ansi-green">+</span> unique_id             = (known after apply)
    }

<span class="ansi-bold">  # module.eks.aws_iam_role_policy_attachment.eks-cluster-policy</span> will be created
  <span class="ansi-green">+</span> resource "aws_iam_role_policy_attachment" "eks-cluster-policy" {
      <span class="ansi-green">+</span> id         = (known after apply)
      <span class="ansi-green">+</span> policy_arn = "arn:aws:iam::aws:policy/AmazonEKSClusterPolicy"
      <span class="ansi-green">+</span> role       = "&lt;PROJECT_NAME&gt;-webapp-cluster-iam-role"
    }

<span class="ansi-bold">  # module.eks.aws_iam_role_policy_attachment.liorm-ec2-container-registry-read-only</span> will be created
  <span class="ansi-green">+</span> resource "aws_iam_role_policy_attachment" "liorm-ec2-container-registry-read-only" {
      <span class="ansi-green">+</span> id         = (known after apply)
      <span class="ansi-green">+</span> policy_arn = "arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryReadOnly"
      <span class="ansi-green">+</span> role       = "&lt;PROJECT_NAME&gt;_node-group-role"
    }

<span class="ansi-bold">  # module.eks.aws_iam_role_policy_attachment.liorm-eks-cni-policy</span> will be created
  <span class="ansi-green">+</span> resource "aws_iam_role_policy_attachment" "liorm-eks-cni-policy" {
      <span class="ansi-green">+</span> id         = (known after apply)
      <span class="ansi-green">+</span> policy_arn = "arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy"
      <span class="ansi-green">+</span> role       = "&lt;PROJECT_NAME&gt;_node-group-role"
    }

<span class="ansi-bold">  # module.eks.aws_iam_role_policy_attachment.liorm-eks-csi-ebs-node-policy</span> will be created
  <span class="ansi-green">+</span> resource "aws_iam_role_policy_attachment" "liorm-eks-csi-ebs-node-policy" {
      <span class="ansi-green">+</span> id         = (known after apply)
      <span class="ansi-green">+</span> policy_arn = "arn:aws:iam::aws:policy/service-role/AmazonEBSCSIDriverPolicy"
      <span class="ansi-green">+</span> role       = "&lt;PROJECT_NAME&gt;_node-group-role"
    }

<span class="ansi-bold">  # module.eks.aws_iam_role_policy_attachment.liorm-eks-worker-node-policy</span> will be created
  <span class="ansi-green">+</span> resource "aws_iam_role_policy_attachment" "liorm-eks-worker-node-policy" {
      <span class="ansi-green">+</span> id         = (known after apply)
      <span class="ansi-green">+</span> policy_arn = "arn:aws:iam::aws:policy/AmazonEKSWorkerNodePolicy"
      <span class="ansi-green">+</span> role       = "&lt;PROJECT_NAME&gt;_node-group-role"
    }

<span class="ansi-bold">  # module.eks.aws_launch_template.naming-nodes</span> will be created
  <span class="ansi-green">+</span> resource "aws_launch_template" "naming-nodes" {
      <span class="ansi-green">+</span> arn             = (known after apply)
      <span class="ansi-green">+</span> default_version = (known after apply)
      <span class="ansi-green">+</span> id              = (known after apply)
      <span class="ansi-green">+</span> latest_version  = (known after apply)
      <span class="ansi-green">+</span> name            = "&lt;PROJECT_NAME&gt;-webapp"
      <span class="ansi-green">+</span> name_prefix     = (known after apply)
      <span class="ansi-green">+</span> tags_all        = (known after apply)
      <span class="ansi-green">+</span> vpc_security_group_ids = (known after apply)

      <span class="ansi-green">+</span> metadata_options {
          <span class="ansi-green">+</span> http_endpoint               = "enabled"
          <span class="ansi-green">+</span> http_protocol_ipv6        = (known after apply)
          <span class="ansi-green">+</span> http_put_response_hop_limit = 2
          <span class="ansi-green">+</span> http_tokens                 = "optional"
          <span class="ansi-green">+</span> instance_metadata_tags    = (known after apply)
        }

      <span class="ansi-green">+</span> tag_specifications {
          <span class="ansi-green">+</span> resource_type = "instance"
          <span class="ansi-green">+</span> tags          = {
              <span class="ansi-green">+</span> "Name" = "&lt;PROJECT_NAME&gt;-webapp"
            }
        }
    }

<span class="ansi-bold">  # module.eks.aws_security_group.eks_node_sg</span> will be created
  <span class="ansi-green">+</span> resource "aws_security_group" "eks_node_sg" {
      <span class="ansi-green">+</span> arn         = (known after apply)
      <span class="ansi-green">+</span> description = "Security group for EKS cluster worker nodes"
      <span class="ansi-green">+</span> egress      = [
          <span class="ansi-green">+</span> {
              <span class="ansi-green">+</span> cidr_blocks      = [
                  <span class="ansi-green">+</span> "0.0.0.0/0",
                ]
              <span class="ansi-green">+</span> description      = ""
              <span class="ansi-green">+</span> from_port        = 0
              <span class="ansi-green">+</span> ipv6_cidr_blocks = []
              <span class="ansi-green">+</span> prefix_list_ids  = []
              <span class="ansi-green">+</span> protocol         = "-1"
              <span class="ansi-green">+</span> security_groups  = []
              <span class="ansi-green">+</span> self             = false
              <span class="ansi-green">+</span> to_port          = 0
            },
        ]
      <span class="ansi-green">+</span> id          = (known after apply)
      <span class="ansi-green">+</span> ingress     = [
          <span class="ansi-green">+</span> {
              <span class="ansi-green">+</span> cidr_blocks      = (known after apply)
              <span class="ansi-green">+</span> description      = ""
              <span class="ansi-green">+</span> from_port        = 443
              <span class="ansi-green">+</span> ipv6_cidr_blocks = []
              <span class="ansi-green">+</span> prefix_list_ids  = []
              <span class="ansi-green">+</span> protocol         = "tcp"
              <span class="ansi-green">+</span> security_groups  = []
              <span class="ansi-green">+</span> self             = false
              <span class="ansi-green">+</span> to_port          = 443
            },
          <span class="ansi-green">+</span> {
              <span class="ansi-green">+</span> cidr_blocks      = (known after apply)
              <span class="ansi-green">+</span> description      = ""
              <span class="ansi-green">+</span> from_port        = 80
              <span class="ansi-green">+</span> ipv6_cidr_blocks = []
              <span class="ansi-green">+</span> prefix_list_ids  = []
              <span class="ansi-green">+</span> protocol         = "tcp"
              <span class="ansi-green">+</span> security_groups  = []
              <span class="ansi-green">+</span> self             = false
              <span class="ansi-green">+</span> to_port          = 80
            },
          <span class="ansi-green">+</span> {
              <span class="ansi-green">+</span> cidr_blocks      = []
              <span class="ansi-green">+</span> description      = ""
              <span class="ansi-green">+</span> from_port        = 0
              <span class="ansi-green">+</span> ipv6_cidr_blocks = []
              <span class="ansi-green">+</span> prefix_list_ids  = []
              <span class="ansi-green">+</span> protocol         = "-1"
              <span class="ansi-green">+</span> security_groups  = (known after apply)
              <span class="ansi-green">+</span> self             = false
              <span class="ansi-green">+</span> to_port          = 0
            },
          <span class="ansi-green">+</span> {
              <span class="ansi-green">+</span> cidr_blocks      = []
              <span class="ansi-green">+</span> description      = ""
              <span class="ansi-green">+</span> from_port        = 0
              <span class="ansi-green">+</span> ipv6_cidr_blocks = []
              <span class="ansi-green">+</span> prefix_list_ids  = []
              <span class="ansi-green">+</span> protocol         = "-1"
              <span class="ansi-green">+</span> security_groups  = []
              <span class="ansi-green">+</span> self             = true
              <span class="ansi-green">+</span> to_port          = 0
            },
        ]
      <span class="ansi-green">+</span> name        = "&lt;PROJECT_NAME&gt;-webapp-cluster-node-sg"
      <span class="ansi-green">+</span> name_prefix = (known after apply)
      <span class="ansi-green">+</span> owner_id    = (known after apply)
      <span class="ansi-green">+</span> revoke_rules_on_delete = false
      <span class="ansi-green">+</span> tags        = {
          <span class="ansi-green">+</span> "Name" = "&lt;PROJECT_NAME&gt;-webapp-cluster-node-sg"
        }
      <span class="ansi-green">+</span> tags_all    = {
          <span class="ansi-green">+</span> "Name" = "&lt;PROJECT_NAME&gt;-webapp-cluster-node-sg"
        }
      <span class="ansi-green">+</span> vpc_id      = (known after apply)
    }

<span class="ansi-bold">  # module.vpc.aws_internet_gateway.liorm_igw</span> will be created
  <span class="ansi-green">+</span> resource "aws_internet_gateway" "liorm_igw" {
      <span class="ansi-green">+</span> arn      = (known after apply)
      <span class="ansi-green">+</span> id       = (known after apply)
      <span class="ansi-green">+</span> owner_id = (known after apply)
      <span class="ansi-green">+</span> tags     = {
          <span class="ansi-green">+</span> "Name" = "&lt;PROJECT_NAME&gt;-igw"
        }
      <span class="ansi-green">+</span> tags_all = {
          <span class="ansi-green">+</span> "Name" = "&lt;PROJECT_NAME&gt;-igw"
        }
      <span class="ansi-green">+</span> vpc_id   = (known after apply)
    }

<span class="ansi-bold">  # module.vpc.aws_route_table.liorm_route_table</span> will be created
  <span class="ansi-green">+</span> resource "aws_route_table" "liorm_route_table" {
      <span class="ansi-green">+</span> arn              = (known after apply)
      <span class="ansi-green">+</span> id               = (known after apply)
      <span class="ansi-green">+</span> owner_id         = (known after apply)
      <span class="ansi-green">+</span> propagating_vgws = (known after apply)
      <span class="ansi-green">+</span> route            = [
          <span class="ansi-green">+</span> {
              <span class="ansi-green">+</span> carrier_gateway_id         = ""
              <span class="ansi-green">+</span> cidr_block                 = "0.0.0.0/0"
              <span class="ansi-green">+</span> core_network_arn           = ""
              <span class="ansi-green">+</span> destination_prefix_list_id = ""
              <span class="ansi-green">+</span> egress_only_gateway_id     = ""
              <span class="ansi-green">+</span> gateway_id                 = (known after apply)
              <span class="ansi-green">+</span> ipv6_cidr_block            = ""
              <span class="ansi-green">+</span> local_gateway_id           = ""
              <span class="ansi-green">+</span> nat_gateway_id             = ""
              <span class="ansi-green">+</span> network_interface_id       = ""
              <span class="ansi-green">+</span> transit_gateway_id         = ""
              <span class="ansi-green">+</span> vpc_endpoint_id            = ""
              <span class="ansi-green">+</span> vpc_peering_connection_id  = ""
            },
        ]
      <span class="ansi-green">+</span> tags             = {
          <span class="ansi-green">+</span> "Name" = "&lt;PROJECT_NAME&gt;-route-table"
        }
      <span class="ansi-green">+</span> tags_all         = {
          <span class="ansi-green">+</span> "Name" = "&lt;PROJECT_NAME&gt;-route-table"
        }
      <span class="ansi-green">+</span> vpc_id           = (known after apply)
    }

<span class="ansi-bold">  # module.vpc.aws_route_table_association.liorm_private_subnet_association[0]</span> will be created
  <span class="ansi-green">+</span> resource "aws_route_table_association" "liorm_private_subnet_association" {
      <span class="ansi-green">+</span> id             = (known after apply)
      <span class="ansi-green">+</span> route_table_id = (known after apply)
      <span class="ansi-green">+</span> subnet_id      = (known after apply)
    }

<span class="ansi-bold">  # module.vpc.aws_route_table_association.liorm_private_subnet_association[1]</span> will be created
  <span class="ansi-green">+</span> resource "aws_route_table_association" "liorm_private_subnet_association" {
      <span class="ansi-green">+</span> id             = (known after apply)
      <span class="ansi-green">+</span> route_table_id = (known after apply)
      <span class="ansi-green">+</span> subnet_id      = (known after apply)
    }

<span class="ansi-bold">  # module.vpc.aws_route_table_association.liorm_public_subnet_association[0]</span> will be created
  <span class="ansi-green">+</span> resource "aws_route_table_association" "liorm_public_subnet_association" {
      <span class="ansi-green">+</span> id             = (known after apply)
      <span class="ansi-green">+</span> route_table_id = (known after apply)
      <span class="ansi-green">+</span> subnet_id      = (known after apply)
    }

<span class="ansi-bold">  # module.vpc.aws_route_table_association.liorm_public_subnet_association[1]</span> will be created
  <span class="ansi-green">+</span> resource "aws_route_table_association" "liorm_public_subnet_association" {
      <span class="ansi-green">+</span> id             = (known after apply)
      <span class="ansi-green">+</span> route_table_id = (known after apply)
      <span class="ansi-green">+</span> subnet_id      = (known after apply)
    }

<span class="ansi-bold">  # module.vpc.aws_subnet.private_subnets[0]</span> will be created
  <span class="ansi-green">+</span> resource "aws_subnet" "private_subnets" {
      <span class="ansi-green">+</span> arn                                  = (known after apply)
      <span class="ansi-green">+</span> assign_ipv6_address_on_creation      = false
      <span class="ansi-green">+</span> availability_zone                      = "us-east-1a"
      <span class="ansi-green">+</span> availability_zone_id                 = (known after apply)
      <span class="ansi-green">+</span> cidr_block                             = "10.0.3.0/24"
      <span class="ansi-green">+</span> enable_dns64                           = false
      <span class="ansi-green">+</span> enable_resource_name_dns_a_record_on_launch    = false
      <span class="ansi-green">+</span> enable_resource_name_dns_aaaa_record_on_launch = false
      <span class="ansi-green">+</span> id                                   = (known after apply)
      <span class="ansi-green">+</span> ipv6_cidr_block_association_id         = (known after apply)
      <span class="ansi-green">+</span> ipv6_native                            = false
      <span class="ansi-green">+</span> map_public_ip_on_launch                = false
      <span class="ansi-green">+</span> owner_id                               = (known after apply)
      <span class="ansi-green">+</span> private_dns_hostname_type_on_launch    = (known after apply)
      <span class="ansi-green">+</span> tags                                   = {
          <span class="ansi-green">+</span> "Name"                                     = "&lt;PROJECT_NAME&gt;-private-subnet-0"
          <span class="ansi-green">+</span> "kubernetes.io/cluster/&lt;PROJECT_NAME&gt;-webapp-cluster" = "shared"
          <span class="ansi-green">+</span> "kubernetes.ioio/role/internal-elb"        = "1"
        }
      <span class="ansi-green">+</span> tags_all                               = {
          <span class="ansi-green">+</span> "Name"                                     = "&lt;PROJECT_NAME&gt;-private-subnet-0"
          <span class="ansi-green">+</span> "kubernetes.io/cluster/&lt;PROJECT_NAME&gt;-webapp-cluster" = "shared"
          <span class="ansi-green">+</span> "kubernetes.ioio/role/internal-elb"        = "1"
        }
      <span class="ansi-green">+</span> vpc_id                                 = (known after apply)
    }

<span class="ansi-bold">  # module.vpc.aws_subnet.private_subnets[1]</span> will be created
  <span class="ansi-green">+</span> resource "aws_subnet" "private_subnets" {
      <span class="ansi-green">+</span> arn                                  = (known after apply)
      <span class="ansi-green">+</span> assign_ipv6_address_on_creation      = false
      <span class="ansi-green">+</span> availability_zone                      = "us-east-1b"
      <span class="ansi-green">+</span> availability_zone_id                 = (known after apply)
      <span class="ansi-green">+</span> cidr_block                             = "10.0.4.0/24"
      <span class="ansi-green">+</span> enable_dns64                           = false
      <span class="ansi-green">+</span> enable_resource_name_dns_a_record_on_launch    = false
      <span class="ansi-green">+</span> enable_resource_name_dns_aaaa_record_on_launch = false
      <span class="ansi-green">+</span> id                                   = (known after apply)
      <span class="ansi-green">+</span> ipv6_cidr_block_association_id         = (known after apply)
      <span class="ansi-green">+</span> ipv6_native                            = false
      <span class="ansi-green">+</span> map_public_ip_on_launch                = false
      <span class="ansi-green">+</span> owner_id                               = (known after apply)
      <span class="ansi-green">+</span> private_dns_hostname_type_on_launch    = (known after apply)
      <span class="ansi-green">+</span> tags                                   = {
          <span class="ansi-green">+</span> "Name"                                     = "&lt;PROJECT_NAME&gt;-private-subnet-1"
          <span class="ansi-green">+</span> "kubernetes.io/cluster/&lt;PROJECT_NAME&gt;-webapp-cluster" = "shared"
          <span class="ansi-green">+</span> "kubernetes.ioio/role/internal-elb"        = "1"
        }
      <span class="ansi-green">+</span> tags_all                               = {
          <span class="ansi-green">+</span> "Name"                                     = "&lt;PROJECT_NAME&gt;-private-subnet-1"
          <span class="ansi-green">+</span> "kubernetes.io/cluster/&lt;PROJECT_NAME&gt;-webapp-cluster" = "shared"
          <span class="ansi-green">+</span> "kubernetes.ioio/role/internal-elb"        = "1"
        }
      <span class="ansi-green">+</span> vpc_id                                 = (known after apply)
    }

<span class="ansi-bold">  # module.vpc.aws_subnet.public_subnets[0]</span> will be created
  <span class="ansi-green">+</span> resource "aws_subnet" "public_subnets" {
      <span class="ansi-green">+</span> arn                                  = (known after apply)
      <span class="ansi-green">+</span> assign_ipv6_address_on_creation      = false
      <span class="ansi-green">+</span> availability_zone                      = "us-east-1a"
      <span class="ansi-green">+</span> availability_zone_id                 = (known after apply)
      <span class="ansi-green">+</span> cidr_block                             = "10.0.1.0/24"
      <span class="ansi-green">+</span> enable_dns64                           = false
      <span class="ansi-green">+</span> enable_resource_name_dns_a_record_on_launch    = false
      <span class="ansi-green">+</span> enable_resource_name_dns_aaaa_record_on_launch = false
      <span class="ansi-green">+</span> id                                   = (known after apply)
      <span class="ansi-green">+</span> ipv6_cidr_block_association_id         = (known after apply)
      <span class="ansi-green">+</span> ipv6_native                            = false
      <span class="ansi-green">+</span> map_public_ip_on_launch                = true
      <span class="ansi-green">+</span> owner_id                               = (known after apply)
      <span class="ansi-green">+</span> private_dns_hostname_type_on_launch    = (known after apply)
      <span class="ansi-green">+</span> tags                                   = {
          <span class="ansi-green">+</span> "Name"                                     = "&lt;PROJECT_NAME&gt;-public-subnet-0"
          <span class="ansi-green">+</span> "kubernetes.io/cluster/&lt;PROJECT_NAME&gt;-webapp-cluster" = "shared"
          <span class="ansi-green">+</span> "kubernetes.io/role/elb"                   = "1"
        }
      <span class="ansi-green">+</span> tags_all                               = {
          <span class="ansi-green">+</span> "Name"                                     = "&lt;PROJECT_NAME&gt;-public-subnet-0"
          <span class="ansi-green">+</span> "kubernetes.io/cluster/&lt;PROJECT_NAME&gt;-webapp-cluster" = "shared"
          <span class="ansi-green">+</span> "kubernetes.io/role/elb"                   = "1"
        }
      <span class="ansi-green">+</span> vpc_id                                 = (known after apply)
    }

<span class="ansi-bold">  # module.vpc.aws_subnet.public_subnets[1]</span> will be created
  <span class="ansi-green">+</span> resource "aws_subnet" "public_subnets" {
      <span class="ansi-green">+</span> arn                                  = (known after apply)
      <span class="ansi-green">+</span> assign_ipv6_address_on_creation      = false
      <span class="ansi-green">+</span> availability_zone                      = "us-east-1b"
      <span class="ansi-green">+</span> availability_zone_id                 = (known after apply)
      <span class="ansi-green">+</span> cidr_block                             = "10.0.2.0/24"
      <span class="ansi-green">+</span> enable_dns64                           = false
      <span class="ansi-green+">
</code></pre>

