{% extends "base.html" %}

{% block title %}Projects - Lior Milliger{% endblock %}

{% block content %}
<div class="page-content">
    <h1>My Projects</h1>
    <div class="projects-grid">
        
        <div class="project-card">
            <h2>This Website</h2>
            <p>The portfolio website you are currently viewing, built with Python (Flask), HTML, CSS, and JavaScript, based on Terraform Iac, AWS, K8S and ArgoCD, to showcase my work and skills.</p>
            <div class="project-links">
                <a href="https://github.com/liormilliger/mywebsite-app.git" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i> View on GitHub
                </a>
            </div>
        </div>

        <div class="project-card">
            <h2>Portfolio Blog</h2>
            <p>A full-stack microservices blog application designed to host articles, tutorials, and project deep-dives, demonstrating content management and web development skills, and Monolith to Microservices migration</p>
            <div class="project-links">
                <a href="https://github.com/liormilliger/Portfolio-app.git" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i> View on GitHub
                </a>
            </div>
        </div>

        <div class="project-card">
            <h2>Chatapp</h2>
            <p>A real-time chat application built to explore and implement WebSocket technology for instant two-way communication. Based on a simple microservices architecture including MySQL DB and Nginx reverse-proxy</p>
            <div class="project-links">
                <a href="https://github.com/liormilliger/Chatapp.git" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i> View on GitHub
                </a>
            </div>
        </div>
        
        <div class="project-card">
            <h2>Blue-Green Deployment</h2>
            <p>A demonstration of Blue-Green deployment using Terraform and AWS. Nginx redirects traffic to the green server and has the blue server as a backup server in case the green one fails.</p>
            <div class="project-links">
                <a href="https://github.com/liormilliger/Blue-Green-Demo.git" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i> View on GitHub
                </a>
            </div>
        </div>

        <div class="project-card">
            <h2>Kafka Data Shipping</h2>
            <p>Kafka data shipping microservices architecture, using Java producer-consumer services to stream data between MySQL and Kafka. Deployed on AWS::EKS using Terraform IaC. The CICD process was automated with GitHub Actions to build and push container images to ECR/p>
            <div class="project-links">
                <a href="https://github.com/liormilliger/kafka-data-shipper.git" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i> View on GitHub
                </a>
            </div>
        </div>
        
        <div class="project-card">
            <h2>Prometheus Data Collector</h2>
            <p>A custom data collector (exporter) for the Prometheus monitoring system, created to gather and expose specific metrics for observability.</p>
            <div class="project-links">
                <a href="https://github.com/liormilliger/prometheus-data-collector.git" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i> View on GitHub
                </a>
            </div>
        </div>

        <div class="project-card">
            <h2>GateUP (Serverless)</h2>
            <p>A utility tool designed to manage and automate gate operations, focusing on system integration and remote control. Based on Serverless event-based operations</p>
            <div class="project-links">
                <a href="https://github.com/liormilliger/GateUP.git" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i> View on GitHub
                </a>
            </div>
        </div>

        <div class="project-card">
            <h2>Linux Server Data Collection</h2>
            <p>A collection of Bash scripts and tools for gathering, processing, and analyzing performance and system data from Linux servers.</p>
            <div class="project-links">
                <a href="https://github.com/liormilliger/linux-srv-data-collection.git" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i> View on GitHub
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
