{% extends "base.html" %}

{% block title %}Tech Stack - Lior Milliger{% endblock %}

{% block content %}
<div class="page-content">
    <h1>Tech Stack</h1>
    <p>Click on a technology category to see the tools, then select a tool to view a sample code snippet or configuration.</p>
    
    <div class="tech-container">
        <div class="tech-list">
            <div class="tech-category-frame">
                <h4 class="tech-category-title">CI/CD</h4>
                <div class="tech-category-content">
                    <a href="#" class="tech-link" data-target="jenkins" title="CI/CD automation server">
                        <img src="{{ url_for('static', filename='images/tech/Jenkins.png') }}" alt="Jenkins Logo" class="tech-icon">
                        <span class="tech-link-text">Jenkins</span>
                    </a>
                    <a href="#" class="tech-link" data-target="github-actions" title="GitHub's CI/CD platform">
                        <img src="{{ url_for('static', filename='images/tech/GitHubActions.png') }}" alt="GitHub Actions Logo" class="tech-icon">
                        <span class="tech-link-text">GitHubActions</span>
                    </a>
                    <a href="#" class="tech-link" data-target="argocd" title="GitOps continuous delivery tool">
                        <img src="{{ url_for('static', filename='images/tech/argocd.webp') }}" alt="ArgoCD Logo" class="tech-icon">
                        <span class="tech-link-text">ArgoCD</span>
                    </a>
                </div>
            </div>

            <div class="tech-category-frame">
                <h4 class="tech-category-title">Containerization</h4>
                <div class="tech-category-content">
                    <a href="#" class="tech-link" data-target="docker" title="Container image build instructions">
                        <img src="{{ url_for('static', filename='images/tech/docker.png') }}" alt="Docker Logo" class="tech-icon">
                        <span class="tech-link-text">Dockerfile</span>
                    </a>
                    <a href="#" class="tech-link" data-target="kubernetes" title="Container orchestration platform">
                        <img src="{{ url_for('static', filename='images/tech/Kubernetes.svg.png') }}" alt="Kubernetes Logo" class="tech-icon">
                        <span class="tech-link-text">Kubernetes</span>
                    </a>
                    <a href="#" class="tech-link" data-target="helm" title="The package manager for Kubernetes">
                        <img src="{{ url_for('static', filename='images/tech/helm-logo.png') }}" alt="Helm Logo" class="tech-icon">
                        <span class="tech-link-text">Helm</span>
                    </a>
                </div>
            </div>
            
            <div class="tech-category-frame">
                <h4 class="tech-category-title">IaC</h4>
                <div class="tech-category-content">
                    <a href="#" class="tech-link" data-target="terraform" title="Infrastructure as Code tool">
                        <img src="{{ url_for('static', filename='images/tech/terraform.svg') }}" alt="Terraform Logo" class="tech-icon">
                        <span class="tech-link-text">Terraform</span>
                    </a>
                </div>
            </div>

            <div class="tech-category-frame">
                <h4 class="tech-category-title long-title">Artifact Management</h4>
                <div class="tech-category-content">
                    <a href="#" class="tech-link" data-target="aws-ecr" title="Amazon Elastic Container Registry">
                        <img src="{{ url_for('static', filename='images/tech/AWS.svg.png') }}" alt="ECR Logo" class="tech-icon">
                        <span class="tech-link-text">ECR</span>
                    </a>
                    <a href="#" class="tech-link" data-target="artifactory" title="Artifact repository manager">
                        <img src="{{ url_for('static', filename='images/tech/artifactory-logo.png') }}" alt="Artifactory Logo" class="tech-icon">
                        <span class="tech-link-text">Artifactory</span>
                    </a>
                </div>
            </div>

            <div class="tech-category-frame">
                <h4 class="tech-category-title">DevSecOps</h4>
                <div class="tech-category-content">
                    <a href="#" class="tech-link" data-target="xray" title="JFrog Xray vulnerability scanning">
                        <img src="{{ url_for('static', filename='images/tech/Jfrog-Xray-logo.png') }}" alt="Xray Logo" class="tech-icon">
                        <span class="tech-link-text">Xray</span>
                    </a>
                </div>
            </div>

            <div class="tech-category-frame">
                <h4 class="tech-category-title">Cloud</h4>
                <div class="tech-category-content">
                    <a href="#" class="tech-link" data-target="aws" title="Amazon Web Services cloud platform">
                        <img src="{{ url_for('static', filename='images/tech/AWS.svg.png') }}" alt="AWS Logo" class="tech-icon">
                        <span class="tech-link-text">AWS</span>
                    </a>
                </div>
            </div>

            <div class="tech-category-frame">
                <h4 class="tech-category-title">Observability</h4>
                <div class="tech-category-content">
                    <a href="#" class="tech-link" data-target="prometheus" title="Monitoring and alerting toolkit">
                        <img src="{{ url_for('static', filename='images/tech/Prometheus.svg.png') }}" alt="Prometheus Logo" class="tech-icon">
                        <span class="tech-link-text">Prometheus</span>
                    </a>
                    <a href="#" class="tech-link" data-target="grafana" title="Analytics and monitoring platform">
                        <img src="{{ url_for('static', filename='images/tech/Grafana.svg.png') }}" alt="Grafana Logo" class="tech-icon">
                        <span class="tech-link-text">Grafana</span>
                    </a>
                </div>
            </div>

            {# <div class="tech-category-frame">
                <h4 class="tech-category-title">Logging</h4>
                <div class="tech-category-content">
                     <a href="#" class="tech-link" data-target="fluentbit" title="Log processor and forwarder">
                        <img src="{{ url_for('static', filename='images/tech/fluentbit.jpeg') }}" alt="Fluent Bit Logo" class="tech-icon">
                        <span class="tech-link-text">FluentBit</span>
                    </a>
                     <a href="#" class="tech-link" data-target="elasticsearch" title="Search and analytics engine">
                        <img src="{{ url_for('static', filename='images/tech/elasticsearch-logo.svg') }}" alt="Elasticsearch Logo" class="tech-icon">
                        <span class="tech-link-text">ElasticSearch</span>
                    </a>
                    <a href="#" class="tech-link" data-target="kibana" title="Data visualization dashboard">
                        <img src="{{ url_for('static', filename='images/tech/kibana.png') }}" alt="Kibana Logo" class="tech-icon">
                        <span class="tech-link-text">Kibana</span>
                    </a>
                </div>
            </div> #}

            <div class="tech-category-frame">
                <h4 class="tech-category-title">Scripting</h4>
                <div class="tech-category-content">
                     <a href="#" class="tech-link" data-target="python" title="General-purpose programming language">
                        <img src="{{ url_for('static', filename='images/tech/Python-logo.png') }}" alt="Python Logo" class="tech-icon">
                        <span class="tech-link-text">Python</span>
                    </a>
                     <a href="#" class="tech-link" data-target="bash" title="Unix shell and command language">
                        <img src="{{ url_for('static', filename='images/tech/Bash_Logo.png') }}" alt="Bash Logo" class="tech-icon">
                        <span class="tech-link-text">Bash</span>
                    </a>
                </div>
            </div>
            
            <div class="tech-category-frame">
                <h4 class="tech-category-title">Data Management</h4>
                <div class="tech-category-content">
                     <a href="#" class="tech-link" data-target="postgresql" title="Relational database system">
                        <img src="{{ url_for('static', filename='images/tech/postgresql-logo.jpg') }}" alt="PostgreSQL Logo" class="tech-icon">
                        <span class="tech-link-text">PostgreSQL</span>
                    </a>
                     <a href="#" class="tech-link" data-target="mysql" title="Relational database management system">
                        <img src="{{ url_for('static', filename='images/tech/mysql-logo.png') }}" alt="MySQL Logo" class="tech-icon">
                        <span class="tech-link-text">MySQL</span>
                    </a>
                </div>
            </div>
            
            <div class="tech-category-frame">
                <h4 class="tech-category-title">Proxies</h4>
                <div class="tech-category-content">
                     <a href="#" class="tech-link" data-target="nginx" title="High-performance web server and reverse proxy">
                        <img src="{{ url_for('static', filename='images/tech/nginx-logo.png') }}" alt="Nginx Logo" class="tech-icon">
                        <span class="tech-link-text">Nginx</span>
                    </a>
                     <a href="#" class="tech-link" data-target="apache" title="Apache HTTP Server">
                        <img src="{{ url_for('static', filename='images/tech/apache-logo.webp') }}" alt="Apache Logo" class="tech-icon">
                        <span class="tech-link-text">Apache</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="tech-display">
            <button class="back-to-list-btn">
                <i class="fas fa-arrow-left"></i> Back to List
            </button>
            <div id="tech-home" class="tech-content-panel">{% include 'snippets/tech-home.html' %}</div>
            
            <div id="jenkins" class="tech-content-panel" style="display: none;">{% include 'snippets/Jenkins.html' %}</div>
            <div id="github-actions" class="tech-content-panel" style="display: none;">{% include 'snippets/GitHubActions.html' %}</div>
            <div id="argocd" class="tech-content-panel" style="display: none;">{% include 'snippets/ArgoCD.html' %}</div>
            <div id="docker" class="tech-content-panel" style="display: none;">{% include 'snippets/Dockerfile.html' %}</div>
            <div id="kubernetes" class="tech-content-panel" style="display: none;">{% include 'snippets/Kubernetes.html' %}</div>
            <div id="helm" class="tech-content-panel" style="display: none;">{% include 'snippets/Helm.html' %}</div>
            <div id="terraform" class="tech-content-panel" style="display: none;">{% include 'snippets/Terraform.html' %}</div>
            <div id="aws-ecr" class="tech-content-panel" style="display: none;">{% include 'snippets/AWS_ECR.html' %}</div>
            <div id="artifactory" class="tech-content-panel" style="display: none;">{% include 'snippets/artifactory.html' %}</div>
            <div id="xray" class="tech-content-panel" style="display: none;">{% include 'snippets/Xray.html' %}</div>
            <div id="aws" class="tech-content-panel" style="display: none;">{% include 'snippets/AWS.html' %}</div>
            <div id="prometheus" class="tech-content-panel" style="display: none;">{% include 'snippets/Prometheus.html' %}</div>
            <div id="grafana" class="tech-content-panel" style="display: none;">{% include 'snippets/Grafana.html' %}</div>
            {# <div id="fluentbit" class="tech-content-panel" style="display: none;">{% include 'snippets/FluentBit.html' %}</div>
            <div id="elasticsearch" class="tech-content-panel" style="display: none;">{% include 'snippets/ElasticSearch.html' %}</div>
            <div id="kibana" class="tech-content-panel" style="display: none;">{% include 'snippets/Kibana.html' %}</div> #}
            <div id="python" class="tech-content-panel" style="display: none;">{% include 'snippets/python.html' %}</div>
            <div id="bash" class="tech-content-panel" style="display: none;">{% include 'snippets/bash.html' %}</div>
            <div id="postgresql" class="tech-content-panel" style="display: none;">{% include 'snippets/PostgreSQL.html' %}</div>
            <div id="mysql" class="tech-content-panel" style="display: none;">{% include 'snippets/MySQL.html' %}</div>
            <div id="nginx" class="tech-content-panel" style="display: none;">{% include 'snippets/Nginx.html' %}</div>
            <div id="apache" class="tech-content-panel" style="display: none;">{% include 'snippets/Apache.html' %}</div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Select all the key elements
    const techContainer = document.querySelector('.tech-container');
    const techLinks = document.querySelectorAll('.tech-link');
    const contentPanels = document.querySelectorAll('.tech-content-panel');
    const categoryFrames = document.querySelectorAll('.tech-category-frame');
    const backButton = document.querySelector('.back-to-list-btn');

    // --- Logic for Dropdown Menus ---
    categoryFrames.forEach(frame => {
        const title = frame.querySelector('.tech-category-title');
        const content = frame.querySelector('.tech-category-content');
        title.addEventListener('click', (event) => {
            event.stopPropagation();
            const isAlreadyOpen = content.classList.contains('open');
            document.querySelectorAll('.tech-category-content.open').forEach(openContent => {
                openContent.classList.remove('open');
                openContent.previousElementSibling.classList.remove('active-title');
            });
            if (!isAlreadyOpen) {
                content.classList.add('open');
                title.classList.add('active-title');
            }
        });
    });

    // --- Close dropdowns if clicking anywhere outside ---
    document.addEventListener('click', () => {
        document.querySelectorAll('.tech-category-content.open').forEach(openContent => {
            openContent.classList.remove('open');
            openContent.previousElementSibling.classList.remove('active-title');
        });
    });

    // --- Logic for showing content when a tech link is clicked ---
    techLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            event.stopPropagation();
            const targetId = this.getAttribute('data-target');
            
            techLinks.forEach(l => l.classList.remove('active'));
            this.classList.add('active');
            
            contentPanels.forEach(panel => panel.style.display = 'none');
            const targetPanel = document.getElementById(targetId);
            if (targetPanel) {
                targetPanel.style.display = 'block';
            }

            document.querySelectorAll('.tech-category-content.open').forEach(openContent => {
                openContent.classList.remove('open');
                openContent.previousElementSibling.classList.remove('active-title');
            });
            
            if (techContainer) {
                techContainer.classList.add('snippet-visible');
            }
        });
    });

    // --- Logic for the "Back" button ---
    if (backButton && techContainer) {
        backButton.addEventListener('click', () => {
            techContainer.classList.remove('snippet-visible');
        });
    }

    // --- Set the initial state of the page on load ---
    function initializePage() {
        contentPanels.forEach(panel => panel.style.display = 'none');
        const homePanel = document.getElementById('tech-home');
        if (homePanel) {
            homePanel.style.display = 'block';
        }
    }
    initializePage();
});
</script>
{% endblock %}
