# name: Deploy via Self-Hosted Runner

# on:
#   # Allows you to click "Run workflow" manually in GitHub Actions tab
#   workflow_dispatch:

#   push:
#     paths:
#       - 'app/**'  # Trigger only on app changes
#     branches:
#       - main

# jobs:
#   deploy:
#     runs-on: self-hosted  # Runs directly on your EC2 agent

#     steps:
#       - name: Checkout Ops Code
#         uses: actions/checkout@v4

#       - name: Install Ansible (if missing)
#         run: |
#           if ! command -v ansible-playbook &> /dev/null; then
#               echo "Installing Ansible..."
#               sudo apt-get update
#               sudo apt-get install -y ansible
#           fi

#       - name: Run Ansible Playbook
#         # Runs the playbook locally on the EC2
#         run: |
#           ansible-playbook ansible/playbook.yaml