name: Deploy via Ansible

on:
  push:
    paths:
      - 'app/**'
    branches:
      - main

jobs:
  ansible-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Create SSH Key File
        # We use a specific shell command to handle multiline secrets safely
        run: |
          mkdir -p ~/.ssh/
          printf "%s" "${{ secrets.EC2_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Create Inventory File
        run: |
          echo "[webserver]" > inventory
          echo "98.89.71.95 ansible_user=${{ secrets.EC2_USER }}" >> inventory

      - name: Run Ansible Playbook
        env:
          # This disables the "Are you sure?" prompt and bypasses ssh-keyscan
          ANSIBLE_HOST_KEY_CHECKING: 'False'
        run: |
          ansible-playbook ansible/deploy.yaml \
            -i inventory \
            --private-key ~/.ssh/id_rsa